<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>SpringEL</h1>

<h2>Object</h2>
<ul>
    <li>${userA.name} = <span th:text="${userA.name}"></span></li>
    <li>${userA['name']} = <span th:text="${userA['name']}"></span></li>
    <li>${userA.getName()} = <span th:text="${userA.getName()}"></span></li>
</ul>

<h2>List</h2>
<ul>
    <li>${users[0].name} = <span th:text="${users[0].name}"></span></li>
    <li>${users[0]['name']} = <span th:text="${users[0]['name']}"></span></li>
    <li>${users[0].getName()} = <span th:text="${users[0].getName()}"></span></li>
</ul>

<h2>Map</h2>
<ul>
    <li>${userMap['userA'].name} = <span th:text="${userMap['userA'].name}"></span></li>
    <li>${userMap['userA']['name']} = <span th:text="${userMap['userA']['name']}"></span></li>
    <li>${userMap['userA'].getName()} = <span th:text="${userMap['userA'].getName()}"></span></li>
</ul>

<h2>지역변수 사용 - with</h2>
<div th:with="first = ${users[0]}">
    <li>users 첫번째 인자의 이름은 <span th:text="${first.name}"></span> 입니다.</li>
</div>

</body>
</html>